<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95703669218-f7ui6fm9l85ns13nsl7jmcuv16reujvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95703669218-f7ui6fm9l85ns13nsl7jmcuv16reujvq</string>
	<key>API_KEY</key>
	<string>AIzaSyByqWNc7oVk8MFmuciE7zgyExO4kmTFrxI</string>
	<key>GCM_SENDER_ID</key>
	<string>95703669218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unifiedtnc.iotsolution</string>
	<key>PROJECT_ID</key>
	<string>iot-solution-flutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-solution-flutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95703669218:ios:f9a5e112b28d5fb01681bb</string>
</dict>
</plist>